version: "3.8"

services:
  mongodb:
    image: mongo    
    volumes:
      - data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=max
      - MONGO_INITDB_ROOT_PASSWORD=secret
  backend:
    image: backend
    build: ./backend
    ports:
      - "80:80"
    volumes:
      - logs:/app/logs #named mount
      - ./backend:/app #bind mount
      - /app/node_modules #anonymous volume
    environment:
      - MONGODB_USERNAME=max
      - MONGODB_PASSWORD=secret
    depends_on:
      - mongodb
  fontend:
    image: fontend
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true
    depends_on:
      - backend      
volumes:
  data:
  logs: